@model EurotripViagens.Models.Viagem

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.CPF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Viagem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
